body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 700px;
    align-items: stretch;
}

header{
    background-color: gray;
    flex-grow: 3;
}

.between{
    flex-grow: 1;
    background-color: blue; 
}

.middle{
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    background-color: purple;
}

.body{
    background-color: yellow;
    flex-grow: 2;
}

.bigbody{
    background-color: lightcoral;
    flex-grow: 4;
}

footer{
    flex-grow: 3;
    background-color: black;
}