body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    background-image: url(../img/bakgrund.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: "Raleway", sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 990px;
    height: 900px;
    align-items: stretch;
    border-left: 1px solid black;
    border-right: 1px solid black;


}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: solid black 1px;


}
.middle{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    
}

.between{

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: lightblue; 
    color: white;
    justify-content: center;
    justify-content: space-around;
    border-bottom: solid black;
    border-width: 1px;
    

}

.between a{

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    color:darkblue;
    font-weight: bolder; 
    text-decoration: none;

}


.body{
    background-color: white;
    flex-grow: 0.1;
}


.bigbody{
    background-color: white;
    flex-grow: 70;

}

.body img{

   margin-top: 40px;
   margin-left: 40px;
   border: solid black 2px;
}

.bigbody h1{

    display: flex;
    justify-content: center;
    padding-top: 20px;   
}

.picked{
    border-bottom: 1px solid gray;
    border-height: 100px;
}

hr{
    width: 400px;
}

.bigbody p {
    padding: 20px;
}

footer{
    flex-grow: 2;
    background-color: black;

}

section{
    display:flex;
    flex-direction: row;

}

article{

    display: flex; 
    flex-direction: row;
    justify-content: center;
}